
# 
# Logical volume settings for disks to be used for VMs
#

# Logical volume group name - logical volumes for all VMs belong to this group
LOGICAL_VOLUME_GROUP_NAME='vm_lvs'

# Prefix for logical volume for a given VM
LOGICAL_VOLUME_PREFIX="lvol_"

# Number of stripes to use in logical volume setup
LOGICAL_VOLUME_TOTAL_STRIPES=5

# Base mount point in host system for VM disk images
BASE_VM_MOUNT_POINT=/xenvms

#
# General settings
#
BACKUP_FILE_EXTENSION=bak
